%nav.navbar.navbar-dark.bg-dark
  %a.navbar-brand{href: "#"} Navbar
  .dropdown
    %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
      Dropdown
    .dropdown-menu{"aria-labelledby": "dropdownMenuButton", style: "z-index:9999"}
      %a.dropdown-item{href: "#"} Menu #1
      %a.dropdown-item{href: "#"} Menu #2
      %a.dropdown-item{href: "#"} Menu #3
