%nav.header.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top.d-flex.justify-content-between
  = link_to "AWSコンソール Beta", "#", class: "navbar-brand"
  .d-flex
    %span.navbar-text.header__organization-name.text-light="エクストランスCS"
    %span.navbar-text.header__current-user.text-light="test@test.local"
    .dropdown
      %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
        メニュー
      .dropdown-menu.dropdown-menu-right{"aria-labelledby": "dropdownMenuButton", style: "z-index:9999"}
        = link_to "組織", "#", class: "dropdown-item"
        = link_to "アカウント管理", "#", class: "dropdown-item"
        = link_to "ログアウト", "#", class: "dropdown-item"
