%nav.navnavbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "CS", "#", class: "navbar-brand"
  .collapse.navbar-collapse#navbarNavDropdown
    %ul.navbar-nav
      %li.nav-item.dropdown
        = link_to "組織名", "#", class: "nav-link dropdown-toggle"